<% layout("/layouts/boilerplate") %>

<style>
    #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .filter {
        text-align: center;
        margin-inline: 1rem;
        margin-top: 1rem;
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .filter:hover {
        opacity: 1;
    }

    .filter p {
        font-size: 0.8rem;
    }

    .tax-info {
        display: none;
    }

    .tax-toggle {
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        margin-left: 3rem;
        display: flex;
        align-items: center;
    }
</style>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let movie of allMovies) { %>
        <a href="/movies/<%= movie._id %>" class="movie-link">
            <div class="card col movie-card">
                <img src="<%= movie.image.url %>" class="card-img-top" alt="movie_poster" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                    <b><%= movie.title %></b> <br>
                    &#8377; <%= movie.price.toLocaleString("en-IN") %>
                    </p>
                </div>
            </div>
        </a>
    <% } %>
</div>
